.dropdown a {
    text-decoration: none !important;
}

.dropdown:hover {
    background-color: #e9ecef;
}

    .dropdown:hover .dropdown-menu {
        display: flex;
        visibility: visible;
    }

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    visibility: hidden;
    background-color: #f8f9fa;
    transition: opacity 0.3s ease;
    padding: 1rem;
}

.dropdown-menu.multi-column {
    flex-wrap: nowrap;
    display: flex;
    gap: 1rem;
}

.dropdown-menu .dropdown-column {
    list-style: none;
    padding: 0;
}

.dropdown-column > a {
    margin: 0px;
    text-decoration: none !important;
}

.dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
}

    .dropdown-item:hover {
        background-color: #e9ecef;
    }

.navbar .nav-link {
    margin: 0;
    padding: 6px 9px;
    text-decoration: none;
    color: #000;
}
